.gallery_2_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--c-white);
    overflow: hidden;

    & > img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 85.62rem) {
    .gallery_2_section {
        height: auto;
        flex-wrap: wrap;

        & > img {
            height: 150px;
            width: 90%;
            object-fit: cover;
        }
    }
}