.nav {
    width: 100%;
    position: fixed;
    padding: 10px;
    background-color: var(--c-white);
    display: grid;
    place-items: center;
    z-index: 9;

    & .navbar_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85rem;

        & > a > img {
            width: 200px;
        }

        & .nav_items {
            display: flex;
            gap: 30px;
        }

        & .nav_items > a {
            color: var(--c-black);
            text-decoration: none;
            font-size: 1.2rem;
            font-family: var(--f-inter);
            position: relative;
            padding: 5px 10px;

            &::after {
                position: absolute;
                content: "";
                height: 3px;
                background: var(--cg-orange-to-orange);
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
                transform-origin: center; 
                
                transition: all .3s;
                width: 0%;
            }

            &:hover::after {
                width: 90%;
            }
        }
    } 
}