@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-orange-heavy: #f85624;
  --c-orange-light: #ffaf5b;
  --c-green: #d9e0bd;
  
  --cg-orange-to-orange: linear-gradient(90deg, rgba(227,96,63,1) 0%, rgba(253,149,13,1) 100%);
  
  --f-libre-baskerville: "Libre Baskerville";
  --f-inter: "Inter";
  --f-merriweather: "Merriweather";
  --f-alex-brush: "Alex Brush";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cg-orange-to-orange);
}
